.mainUsers {
  flex-flow: column wrap;
  grid-row: 1/4;
}

img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.usersContainer {
  display: block;
}

.usersSection {
  display: flex;
  flex-flow: column nowrap;
  grid-column: 1/2;
  width: 100%;
}

.conversationSection {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}

.hidden {
  display: none;
}

@media (min-width: 800px) {
  .usersContainer {
    display: block;
  }
  .mainUsers {
    flex-flow: row nowrap;
  }

  .usersSection {
    width: 40%;
    grid-column: 1/2;
  }

  .conversationSection {
    grid-column: 2/4;
    width: 60%;
  }
}
