:root {
  --navigation-bg-color: ##27b498;
}

.sideBarMenu {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

nav {
  display: flex;
}

.navButton {
  flex: 1 0 20%;
  text-align: center;
  color: #fff;
}

ul {
  list-style: none;
  cursor: pointer;
}

#userAvatar {
  height: auto;
  width: 40px;
  padding: 2px;
}

.profileMenu {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  align-items: center;
}

a {
  color: #fff;
}

@media (min-width: 800px) {
  nav {
    background-color: var(--navigation-bg-color);
    flex-flow: column nowrap;
    height: 100%;
    justify-content: space-between;
  }

  .profileMenu {
    flex-flow: column nowrap;
    gap: 15px;
  }

  .sideBarMenu {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    align-items: center;
    gap: 15px;
  }

  .navButton {
    flex: 0;
  }

  #userAvatar {
    width: 80%;
    height: auto;
  }
}
